<%= form_for [@post, comentario] do |f| %>
    <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>

    <div class="field">
    <%= f.label :content, "Comentario" %>
    <%= f.text_area :content %>
    </div>

    <div class="actions">
     <%= f.submit %>
    </div>
<% end %>